.app {
  background-color: #f3f7fa;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 756px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px 0 15px 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
